.input-block input {
  width: 100%;
  height: 32px;
  font-size: 14px;
  color: #666;
  border: 0;
  border-bottom: 1px solid #eee;
  margin-top: 3px;
}

.input-block input::placeholder {
  color: rgb(189, 186, 186);
  opacity: 1;
}