.timer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.timer span {
  font-size: 40px;
}

.timer svg {
  font-size: 25px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.timer svg:hover {
  opacity: 0.9;
}