.topnav {
  background-color: #20b2aa;
  overflow: hidden;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topnav .logo {
  padding: 10px;
  font-weight: 700;
  font-size: 28px;
}

.topnav .logo span {
  margin-left: 10px;
  color: white;
}

.topnav button {
  padding: 5px 16px;
  margin-right: 20px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
}

.topnav .logo svg:hover {
  cursor: pointer;
}

.topnav button:hover {
  cursor: pointer;
  text-decoration: underline;
}