.panel-item {
  display: flex;
  border-radius: 10px;
  padding: 30px 20px;
  margin-top: 20px;
  margin-bottom: 15px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.panel-item.good {
  background-color: mediumseagreen;
}

.panel-item.wondering {
  background-color: lightyellow;
}

.panel-item.bad {
  background-color: tomato;
}

.panel-item.checked {
  opacity: 0.5;
}

.panel-item + .panel-item {
  margin-top: 0px;
}

.panel-item svg {
  cursor: pointer;
}

.panel-item .panel-item-check {
  width: 10%;
}

.panel-item .panel-item-content {
  width: 89%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.panel-item .panel-item-like {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-top: 10px;
}

.panel-item .panel-item-like span {
  font-size: 12px;
}

.panel-item .panel-item-text {
  margin-bottom: 10px;
  word-wrap: break-word;
  width: 100%;
}

.panel-item .panel-item-author {
  margin-top: 10px;
  font-size: 12px;
  font-style: italic;
}

.panel-item .remove-icon {
  font-size: 12px;
}
